<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование товара</title>
</head>
<body>
<form th:action="@{'/goods/edit/' + ${goods.id}}" th:object="${goods}" method="post">
    <label for="name">Название:</label><br>
    <input type="text" id="name" th:field="*{name}"><br>
    <label for="manufacturer">Производитель:</label><br>
    <input type="text" id="manufacturer" th:field="*{manufacturer}"><br>
    <label for="description">Описание:</label><br>
    <input type="text" id="description" th:field="*{description}"><br>
    <label for="price">Цена:</label><br>
    <input type="text" id="price" th:field="*{price}"><br>
    <label for="count">Количество:</label><br>
    <input type="text" id="count" th:field="*{count}"><br>
    <input type="submit" value="Сохранить">
</form>
<button onclick="window.location.href='/goods';">Отмена</button>
</body>
</html>