<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Все товары</title>
</head>
<body>
<header>
    <button type="button" onclick="location.href='/seller/order'">Оформить заказ</button>
</header>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Производитель</th>
        <th>Описание</th>
        <th>Цена</th>
        <th>Количество</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="obj : ${goods}">
        <td th:text="${objStat.count}"></td>
        <td th:text="${obj.name}"></td>
        <td th:text="${obj.manufacturer}"></td>
        <td th:text="${obj.description}"></td>
        <td th:text="${obj.price}"></td>
        <td th:text="${obj.count}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>