<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Товары</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div id="mySidenav" class="sidenav">
    <div>
        <a href="/" class="user-display" th:text="${currentUser}"></a>
        <a href="/storekeeper/goods" class="user-display">Товары</a>
        <a href="/storekeeper/orders" class="user-display">Заказы</a>
    </div>
    <div class="logout-container">
        <a href="/logout" class="user-display">Выйти</a>
    </div>
</div>
<h1>Товары на складе</h1>
<div class="main-content">
    <div th:if="${#lists.isEmpty(goods)}">
        <p>В магазине нет товаров</p>
    </div>

    <table th:unless="${#lists.isEmpty(goods)}">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Производитель</th>
            <th>Описание</th>
            <th>Цена</th>
            <th>Количество</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="obj : ${goods}">
            <td th:text="${objStat.count}"></td>
            <td th:text="${obj.name}"></td>
            <td th:text="${obj.manufacturer}"></td>
            <td th:text="${obj.description}"></td>
            <td th:text="${obj.price}"></td>
            <td th:text="${obj.count}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>